USE [master]
GO
/****** Object:  Database [BookNNA]    Script Date: 10/16/2023 9:16:34 AM ******/
CREATE DATABASE [BookNNA]
GO
USE [BookNNA]
GO
CREATE TABLE [dbo].[Book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[image] [nvarchar](max) NULL,
	[quantity] [int] NOT NULL,
	[price] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([id], [name], [image], [quantity], [price], [description]) VALUES (1, N'Bí Quyết Làm Giàu Của Napoleon Hill (Tái Bản 2019)', NULL, 123, 79000, NULL)
INSERT [dbo].[Book] ([id], [name], [image], [quantity], [price], [description]) VALUES (2, N'Trên Đỉnh Phố Wall(Tái bản 2019)', NULL, 123, 79000, NULL)
INSERT [dbo].[Book] ([id], [name], [image], [quantity], [price], [description]) VALUES (3, N'Đến Starbucks Mua Cà Phê Cốc Lớn', NULL, 123, 123, NULL)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
USE [master]
GO
